<h1><%= @classroom.name %></h1>
<br />

<h4>Teacher: <%= @classroom.teacher %></h4>
<br />

<h4>Classroom Size: <%=@classroom.size %></h4>
<br />

<%= link_to 'Edit Classroom', edit_schoolhouse_classroom_path(@schoolhouse, @classroom) %>
<%= link_to 'Delete Classroom', schoolhouse_classroom_path(@schoolhouse, @classroom), method: :delete, data: {confirm: 'Sure you want to delete this?'} %>
<%= link_to 'Back to Schoolhouses', schoolhouses_path %>